<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">

    </include>
    <param name="robot_description" command="$(find xacro)/xacro '$(find dog_v4)/urdf/dog_v4.xacro'"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model dog_v4 -x 0 -y 0 -z 0.5"/>

    <rosparam file="$(find dog_v4)/config/dog_v4_config.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/dog_v4" args=" joint_state_controller 
                                            LF_top_position_controller LF_mid_position_controller LF_down_position_controller
                                            RF_top_position_controller RF_mid_position_controller RF_down_position_controller
                                            LB_top_position_controller LB_mid_position_controller LB_down_position_controller
                                            RB_top_position_controller RB_mid_position_controller RB_down_position_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/dog_v4/joint_states" />
    </node>

    <node name="robot_rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find dog_v4)/dog_v4.rviz"/>
    <node name="robot_rqt"  pkg="rqt_gui" type="rqt_gui" output="screen" args="--perspective-file $(find dog_v4)/dog_v4.perspective"/>
</launch>