<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="trans" params="name">
        <transmission name="${name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${name}_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <!--Note that the value of this tag should be EffortJointInterface when this transmission is loaded in Gazebo -->
            </joint>
            <actuator name="${name}_motor">
                <!--An actuator the transmission is connected to. The actuator is specified by its name attribute, and the following sub-elements -->
                <mechanicalReduction>10</mechanicalReduction>
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </actuator>
        </transmission>
    </xacro:macro>


    <xacro:trans name="LF_top"/>

    <xacro:trans name="LF_mid"/>

    <xacro:trans name="LF_down"/>
    <!--righ font leg-->
    <xacro:trans name="RF_top"/>

    <xacro:trans name="RF_mid"/>

    <xacro:trans name="RF_down"/>
    <!--left back leg-->
    <xacro:trans name="LB_top"/>

    <xacro:trans name="LB_mid"/>

    <xacro:trans name="LB_down"/>
    <!--right back leg-->
    <xacro:trans name="RB_top"/>

    <xacro:trans name="RB_mid"/>

    <xacro:trans name="RB_down"/>

</robot>