<launch>
  <arg name="model" />
  <arg name="gui" default="False" />
  <param name="robot_description" textfile="$(find cheetah_model)/urdf/cheetah_model.urdf" />
  <param name="use_gui" value="$(arg gui)" />

  <!-- controller node -->
  <node pkg="main_controller" type="remap" name="remap" output="screen"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find cheetah_model)/urdf.rviz" />
</launch>