<launch>

    <node pkg="main_controller" type="demo" name="demo" output="screen">
    </node>

<!--    <node pkg="main_controller" type="remap" name="remap" output="screen">
    </node>-->

    <node pkg="joy" type="joy_node" name="turtle_joy" output="screen">
        <param name="dev" type="string" value="/dev/input/js0" />
    </node>


</launch>
